.modal {
    &Wrapper {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    &ContentContainer {
        z-index: 2;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    &Form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &CloseButton {
        position: absolute;
        right: 10%;
        background-color: red;
        color: white;
    }
}